main(ng-controller="home-Ctrl")
	.container
		div.hidden(ng-init='user = "#{user}"')
		.col-xs-12.col-md-6.col-lg-4(ng-repeat="item in all")
			div(ng-include="'../templates/cards.html'")

		.col-xs-12.text-center(ng-if="all.length == 0")
			.alert.alert-info
				h1 No hay elementos que mostrar :(
				.pad-sm